@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-line {
    @apply w-8 h-1 my-2 block bg-black dark:bg-white;
}

.toggle1-active > span:nth-child(1) {
    @apply rotate-45;
}

.toggle1-active > span:nth-child(2) {
    @apply scale-0;
}


.toggle1-active > span:nth-child(3) {
    @apply -rotate-45;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-70;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0,2);
}

#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-5;
}